* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
    transition: 0.3s;
}

@mixin fontPadrao($weight) {
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
    font-weight: $weight;
}
@mixin flexColum($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

body {
    min-height: 100vh;
    margin: 10px;
    background-color: #d6d9e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-content {
    min-width: 800px; min-height: 460px;
    width: 60vw; height: 80vh;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
}

.sidebar {
    @include flexColum(20px);
    min-width: 320px; height: auto;
    padding: 20px;
    border-radius: 15px;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-size: 100%;
    pointer-events: none;
    user-select: none;
}
.infoEtapa {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px; height: 60px;
        border-radius: 50%;
        border: 2px solid #BFE2FD;
        background-color: transparent;
        color: #BFE2FD;
        text-align: center;
        font-size: 1.8em;
        font-weight: 700;
    }
    span.activeEtapa {
        background-color: #BFE2FD;
        color: #483EFF;
    }
    h3 {
        font-weight: 300;
    }
    h2 {
        font-weight: 500;
    }
}


.conteiner-etapas {
    max-width: 580px; height: auto;
    overflow: hidden;
}


/*Primeira etapa*/
.wrp-information {
    /*TEMPORARIO*/
    @include flexColum(40px);
    justify-content: space-between;
    width: 100%; height: 100%;
    padding: 30px 58px;
}
.wrp-tituloInfo {
    h1 {
        color: #02295a;
    }
    h3 {
        color:#9699ab;
        font-weight: 300;
    }
}
.wrp-inputsInfo {
    @include flexColum(30px);
    justify-content: space-between;
    height: 100%;

    input[type=submit] {
        float: right;
        width: 120px; height: 40px;
        margin: 0px 0 0 auto;
        border-radius: 5px;
        background-color: #063e82;
        color: #ffffff;
        @include fontPadrao(500);

        &:active {
            background-color:  #02295a;
        }
        &::-webkit-validation-bubble-message {
            background-color: #02295a;
        }
    }
}
.wrp-inp-infos {
    @include flexColum(15px);
}
.wpr-inp {
    @include flexColum(6px);
    span {
        color: #02295a;
    }

    input {
        width: 100%; height: 35px;
        padding: 0 0 0 10px;
        border: 2px solid #9699ab;
        border-radius: 5px;
        font-size: 1.1em;
        font-weight: 500;

        &:focus {
            outline-color: #02295a;
        }
        &[type=number]::-webkit-outer-spin-button, &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}


/*Segunda etapa*/
.wrp-slectPlan {
    /*TEMPORÁRIO*/
    display: none!important;
    @include flexColum(40px);
    justify-content: space-between;
    width: 100%; height: 100%;
    padding: 30px 58px;
}
.wrp-infos-slect-plan {
    @include flexColum(20px)
}
.wpr-types-plan-monthly {
    display: flex;
    justify-content: space-between;
}
.wpr-plan {
    @include flexColum(10px);
    justify-content: space-between;
    width: 120px; height: 150px;
    padding: 20px;
    border: 2px solid #9699ab;
    border-radius: 10px;
}
.wrp-info-plan {
    h3 {
        color: #063e82;
        font-size: 1em;

    }
    h4 {
        color: #9699ab;
        font-weight: 300;
        font-size: 0.8em;
    }
}
.wrp-types-choose-plan {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #d6d9e64f;
    padding: 10px;
    border-radius: 10px;
}
.plan-mode-on {
    color: #02295a;
}
.plan-mode-off {
    color: #9699ab;
}

.wpr-btns-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
        cursor: pointer;
        width: 120px; height: 40px;
        border-radius: 5px;        
        @include fontPadrao(500);
    }
    
}
.btn-go-back {
    background-color: transparent;
    color: #9699ab;
    
}
.btn-go-back:hover {
    background-color: #d6d9e636;
}
.btn-go-back:active {
    background-color: #d6d9e69e;
}
.btn-next-step {
    color: #ffffff;
    background-color: #063e82;
}
.btn-next-step:active {
    background-color: #00224c;
}


.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: -2px; bottom: 0;
    left: 0; right: 0;
    background-color: #02295a;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px; width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(18px);
}


/*Terceira etapa*/
.wrp-adicionais {
    display: none!important;
    @include flexColum(40px);
    justify-content: space-between;
    width: 100%; height: 100%;
    padding: 30px 58px;
}
.wpr-content-addons {
    @include flexColum(30px)
}
.wrp-addons {
    @include flexColum(15px)
}
.wpr-addon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #9699ab;
    border-radius: 8px;
}
.slected-addon {
    background-color: #b3afff33;
    border: 2px solid #02295a;
}

.wrp-info-add {
    display: flex;
    gap: 15px;
    
    input {
        width: 30px; height: 30px;
        border: 2px solid #9699ab;
        border-radius: 5px
    }
}
.wrp-description-addons {
    @include flexColum(2px);

    h2 {
        color: #00224c;
        font-size: 0.8;
    }
    h3 {
        color: #9699ab;
        font-weight: 300;
        font-size: 0.4;
    }
}



.container-chekbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-chekbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border: 2px solid #9699ab;
    border-radius: 4px;
}
.container-chekbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.container-chekbox input:checked ~ .checkmark {
    background-color: #483EFF;
    border: 2px solid #483EFF;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-chekbox input:checked ~ .checkmark:after {
    display: block;
}
.container-chekbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




@media screen and (max-width: 760px) {
    .wrapper-content {
        background-color: #02295a;
    }
}